.container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.18);
}

.logo {
  width: 240px;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.main {
  margin: 20px;
  font-size: 24px;
  transition: 0.5s;
}
.main:hover {
  cursor: pointer;
  color: rgb(9, 169, 62);
}

.main.one {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main.one::after {
  content: "";
  border-right: 2px solid green;
  font-size: 20px;
  padding: 10px;
}
.icon {
  padding: 10px;
}
.toggle-btn {
  display: none;
}

@media (max-width: 992px) {
  .nav-container {
    display: none;
  }
  .toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: gray;
    transition: 0.5s;
  }
  .toggle-btn:hover {
    cursor: pointer;
    color: green;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in;
  font-size: 24px;
}
.item {
  margin: 10px;
}
.item:hover {
  cursor: pointer;
  color: green;
}
@media (min-width: 992px) {
  .menu {
    display: none;
  }
}
